.form {
  font-family: $text-font;
}

.form-container {
  padding: 2em;
  width: 80%;
  margin-bottom: 25px;

  .form-title {
    color: #fff;
  }

  input[type="submit"] {
    background: $accent-color;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-family: $text-font;
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms ease-in;

    &:hover {
      color: $accent-color;
      background: #fff;
      border: 1px solid $accent-color;
    }
  }
}

.form-input-container {
  position: relative;
  border-bottom: 2px solid rgba($accent-color, 0.7);
  margin-bottom: 1.8em;

  .form-input {
    width: 100%;
    font-family: $text-font;
    font-size: 1rem;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    // new code
    padding: 16px 0 0;
  }

  .form-label {
    position: absolute;
    font-size: 1rem;
    color: #fff;
    outline: none;
    border: none;
    transition: all 350ms ease-in;
    // new code
    transform: translate(0, 16px) scale(1);
    transform-origin: top left;
  }
}

.form-input-container.active .form-label {
  transform: translate(0, 1px) scale(0.75);
  color: $accent-color;
}
